@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.content {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr;
}

#top-bar {
  background-color: rgb(140, 140, 140);
  grid-column: 1 / -1;
}

#left-bar {
  background-color: rgb(100, 100, 100);
  grid-row: 2 / -1;
}

#board {
  background-color: rgb(73, 73, 73);
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

#projects img {
  height: 25px;
}

.projects-container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.projects-container:hover {
  background-color: rgb(121, 121, 121);
}

#projects {
  padding-top: 0.75rem;
}

form {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 11px;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}

input:focus {
  outline: none;
}

button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.active-project {
  background-color: black;
  font-size: 40px;
  color: black;
}