@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.content {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr;
}

#top-bar {
  background-color: rgb(100, 100, 100);
  grid-column: 1 / -1;
}

#left-bar {
  background-color: rgb(80, 80, 80);
  grid-row: 2 / -1;
}

#board {
  background-color: rgb(50, 50, 50);
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: flex;
  flex-wrap: wrap;
}

.section {
    margin: 4rem;
}

#projects img {
  height: 25px;
}

.projects-element {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.projects-element:hover {
  background-color: rgb(121, 121, 121);
}

#projects {
  padding-top: 0.75rem;
}

#project-form {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 11px;
}

#task-form {
    display: flex;
    flex-direction: column;
}


input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}

input:focus {
  outline: none;
}

button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.active-project {
  background-color: rgb(121, 121, 121);
}

.task-element, #board-header {
  padding: 1rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
}

.checkbox-container input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 1em;
    margin-right: .5em;
    border: .1em solid gray;
}

.high-priority label::before {
    border: .1em solid red
}
.mid-priority label::before {
    border: .1em solid yellow
}
.low-priority label::before {
    border: .1em solid lightblue
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before
 {
    background-color: #35E07D;
}

.checkbox-container input[type='checkbox']:checked + label::before {
    content: '\002714';
    background-color: #27AE60;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-container input[type='checkbox']:focus + label::before {
    box-shadow: 0 0 20px black;
}

.checkbox-container input[type='checkbox']:disabled + label::before {
    background-color: #ccc;
    border-color: #999;
}

.vertical {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.side {
    display: none;
}

.invis {
    opacity: 0;
}

.invis:hover {
    opacity: 1;
}

select {
    opacity: 1;
    background-color: rgb(50, 50, 50);
    border: 1px solid gray;
}